A:link{text-decoration: none;color: white;}
A:visited{text-decoration: none;color: white;}
A:active{text-decoration: none;color: white;}
A:hover{text-decoration: underline;}

#table{text-align:center;border: 0px;margin-left: auto; margin-right: auto;margin-top: 100px;}
#table th{font-size:10vw;}
#table td{font-size:13vw;}
#copy{text-align:center;font-size:10%;}
#color{text-align:center;border: 0px;margin-left: auto; margin-right: auto;margin-top: 100px;}
#color td{font-size:2vw;width:100px;}